@import "tailwindcss";
@plugin "tailwindcss-animate";

@layer base {
  :root {
    --background: 48 54% 94%;
    --foreground: 30 20% 18%;
  }
  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E5DEC5;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #B4A98C;
  }
}
