@import "tailwindcss";
/* @import "tw-animate-css"; */
@plugin "tailwindcss-animate";

@layer base {
  :root {
    --background: 48 54% 94%;
    --foreground: 30 20% 18%;
  }

  body {
    @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  }
}
