@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --background: 48 54% 94%;
    --foreground: 30 20% 18%;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}
